.about-wnd {
    background: #333;
    color: white;
    border: 1px solid #666;
    font-size: 75%;
    margin: 0;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
  
    .about-wrapper {
      padding: 1em;
      padding-top: 0;
      font-feature-settings: normal;
      font-family: 'Inter UI', sans-serif;
    }
}
