.settings-wnd {
  background: #333;
  color: white;
  border: 1px solid #666;
  font-size: 75%;
  margin: 0;
  height: calc(100% - 2px);
  width: calc(100% - 2px);

  .settings-wrapper {
    padding: 1em;
    padding-top: 0;
    font-feature-settings: normal;
    font-family: 'Inter UI', sans-serif;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
  }

  fieldset {
    border-color: #717171;
    border-width: 2px;
  }

  legend {
    font-size: 130%;
    color: rgb(214, 146, 255);
    font-weight: 300;
    font-variant: all-petite-caps;
    text-shadow: #00000085 0px 0px 4px;
  }

  .control-label {
    color: rgb(212, 212, 212);
    font-weight: 400;
  }

  .picker {
    display: block;
    font-size: 12px !important;
    font-family: inherit;
    font-weight: 500;
    color: rgb(68, 68, 68);
    line-height: 1.3;
    padding: 0.5em 0em 0.5em 0.5em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 0px 1px;
    border-radius: 0.5em;
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0px 0px;
    background-size: 0.65em, 100%;
    margin-top: 0.2em;
    outline: none;
  }

  .picker:focus {
    outline: none;
  }

  .priority-picker:hover {
    border-color: #888;
  }
  .priority-picker:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px rgba(59, 152, 252, 0.582);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  .button-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-link {
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    margin: 3px;
    text-decoration: none;
    white-space: nowrap;
  }

  .button-link:active {
    position: relative;
    top: 1px;
  }

  .button-holder {
    align-self: flex-end;
  }

  .button-disabled {
    @extend .button-link;
    cursor: default;
    box-shadow: inset 0px 1px 0px 0px #9b9b9b;
    background: linear-gradient(to bottom, #bdbdbd 5%, #aaaaaa 100%);
    background-color: #bdbdbd;
    border: 1px solid #707070;
    text-shadow: 0px 1px 0px #777777;
  }
  .button-disabled:active {
    top: 0px;
  }

  .red-button {
    @extend .button-link;
    box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color: #fc8d83;
    border: 1px solid #d83526;
    text-shadow: 0px 1px 0px #b23e35;
  }
  .red-button:hover {
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color: #e4685d;
  }

  .green-button {
    @extend .button-link;
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border: 1px solid #74b807;
    text-shadow: 0px 1px 0px #528009;
  }
  .green-button:hover {
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color: #77a809;
  }

  input:invalid {
    border: 2px solid #ca0000;
  }

  input[type='number'] {
    margin: 3px;
    width: 50px;
  }
}
