.controls {
    height: 100%;
    overflow: hidden;
    width: 20%;
    background: #000000aa;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: .1s;
}

.controls p {
    margin: auto;
    padding: 1em;
    color: white;
}

.action {
    background: black;
}

.control-btn {
    vertical-align: middle;
    background: black;
    padding: 6vh;
    color: white;
    margin: 2vh;
    border: 1px solid black;
    text-decoration: none;
    transition: transform .2s;
    display: inline-block;
}

.control-btn:hover {
    background: #222;
    transform: scale(1.05);
    border:1px solid #000;
}

.secondary-control {
    font-size: 65%;
}

.pause-play {
    border-left: 4px solid #1DB954;
    padding-left: 4px;
}