.controls {
  overflow: hidden;
  background: #000000aa;
  position: absolute;
  top: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #5252524d;
  opacity: 0;
  transition: 0.1s;
}

.controls-cluster {
  display: flex;
  flex-direction: column;
  margin: auto;

  .row {
    padding: 0;
  }
}

.controls p {
  margin: auto;
  padding: 1em;
  color: white;
}

.action {
  background: black;
}

.control-btn {
  vertical-align: middle;
  color: #6affb3bf;
  background: #00000040;
  padding: 0.55em;
  border-radius: 100px;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #4c4c4c54;
  margin: 0.25em;
  text-decoration: none;
  transition: transform 0.2s;
  display: inline-block;
}

.control-btn:hover {
  background: #000000ed;
  transform: scale(1.25);
  color: #00ff7ebf;
}

.control-btn:active {
  background: #000000;
  border-color: rgb(59, 59, 59);
}

.love-control-btn {
  vertical-align: middle;
  color: #ffa9f4bb;
  background: #00000040;
  padding: 0.55em;
  border-radius: 100px;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #4c4c4c54;
  margin: 0.25em;
  text-decoration: none;
  transition: transform 0.2s;
  display: inline-block;
}

.love-control-btn:hover {
  background: #000000ed;
  transform: scale(1.25);
  color: #ff00ddbb;
}

.love-control-btn:active {
  background: #000000;
  border-color: rgb(59, 59, 59);
}

.secondary-control {
  font-size: 65%;
}

.tertiary-control {
  font-size: 45%;
}

.progress {
  height: 1px;
  background: #ccffe188;
  position: absolute;
  bottom: 0;

  &.show {
    z-index: 999;
    background: #ccffe18c;
  }
}

.volume {
  height: 100%;
  background: #ccffe188;
  bottom: 1px;
  width: 1px;
  position: absolute;
}

.volume-number,
.volume-number-show {
  font-size: 60%;
  font-weight: bold;
  border-radius: 100%;
  padding: 0.4em;
  margin: 0.25em;
  color: #6affb3bf;
  background-color: #00000040;
  opacity: 0%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.volume-number-show {
  opacity: 100%;
}