.menu {
  display: flex;
  z-index: 3;
  list-style-type: none;
  margin: 0;
  padding: 4px;
  overflow: hidden;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  position: absolute;
  left: 0;
  width: calc(100% - 8px);
  .bottom {
    bottom: 0;
  }
  .top {
    top: 0;
  }
}

.menu li {
  width: 100%;
  &.pull-right {
    align-items: flex-end;
    width: 20px;
  }
}

.menu li a {
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 0px black;
}

.menu li a.danger:hover {
  color: #ff5858;
}

.menu li a.danger:active {
  color: #a53e3e;
}

.menu li a.warning:hover {
  color: #fff56a;
}

.menu li a.settings:hover {
  color: #979eff;
}

.menu li a.settings:active {
  color: #50569e;
}

.menu li a.vis:hover {
  color: #61eb9a;
}

.menu li a.vis:active {
  color: #3d9963;
}

.menu li a.shuffle:hover {
  color: #fadfa4;
}

.menu li a.shuffle:active {
  color: #b47f2e;
}

.menu .logo-typo {
  background-image: linear-gradient(90deg, white 25%, #f871fd 35%, #9771ef, #7e6a99 65%, white 85%);
  background-position: right center;
  background-size: 600% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  transition: color 200ms linear;
  text-shadow: 0px 0px 16px #0000003d;
}

.tooltip {
  position: fixed;
  margin: -5px;
}

.tooltip span {
  display: none;
}

.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.38);
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  padding: 5px;
}

.menu li a.help:hover {
  color: #fadfa4;
}

.menu li a.help:active {
  color: #b47f2e;
}

.menu li a.disabled {
  color: #555 !important;
}
