.bottom-menu {
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    font-size: 12px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 8px);
}

.top-menu {
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    font-size: 12px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
}

.menu li {
    display: block;
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px black;
}

.menu li a.danger:hover {
    color: #ff5858;
}

.menu li a.danger:active {
    color: #810000;
}

.menu li a.vis:hover {
    color: #61eb9a;
}

.menu li a.vis:active {
    color: #187c42;
}

.menu .logo-typo {
    background-image: linear-gradient(90deg, white 25%, #f871fd 35%, #9771ef, #7e6a99 65%, white 85%);
    background-position: right center;
    background-size: 600% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    transition: color 200ms linear;
    text-shadow: 0px 0px 16px #0000003d;
}
