.bottom-menu {
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    font-size: 12px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 8px);
}

.top-menu {
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    font-size: 12px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
}

.menu li {
    display: block;
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.menu li a:hover {
    color: #89e484;
}

.menu li a.danger:hover {
    color: #ff5858;
}