.welcome {
    background-image: url('https://66.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif');
    background-size: cover;
}

.login-btn {
    margin: auto;
    background: black;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: transform .2s;
    vertical-align: middle;
}

.login-btn:hover {
    background: #222;
    transform: scale(1.05);
    border:1px solid #000;
}
