@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    user-select: none;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

.top-menu {
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
    background-color: #151515de;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.top-menu li {
    display: block;
    float: left;
}

.top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.top-menu li a:hover {
    cursor: pointer;
    color: #89e484;
}

.top-menu li a.danger:hover {
    cursor: pointer;
    color: #ff5858;
}

.pull-right {
    float: right !important;
}

.full {
    height: 100%;
    width: 100%;
}

.controls {
    height: 100%;
    float: left;
    width: 50%;
}

.button {
    padding: .5em;
    border-radius: 8px;
    background: #3c3c3c;
    font-size: 85%;
}

.button:hover {
    cursor: default;
}

.menu-item {
    text-align: right;
    padding: 1em;
    padding-top: 0.5em;
    color: #ececec;
}

.menu-item:first-child {
    padding-top: 1em;
}

body:hover .top-menu {
    opacity: 1;
}

body:hover .cover {
    transform: scale(1.1);
    filter: blur(2px);
}

html, body, .app {
    font-family: 'Inter UI', sans-serif; 
    font-feature-settings: 'calt' 1, 'ss02' 1;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.app {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border: 1px solid #3c3c3c;
    background: #3c3c3c;
}