name: linter

on:
  push:
    branches: [ "*" ]

permissions:
  contents: read

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - run: yarn install
      - run: yarn build
      - run: yarn run lint
