.track-info-left {
    position: fixed;
    text-align: right;
    padding: 1em;
    margin-right: -1em;
    margin-top: 1em;
    right: calc(60%);
    color: white;
    font-weight: bold;
    font-feature-settings: normal;
    transition: .1s;
    background: #000000a8;
    text-shadow: 0px 1px 9px black;
}

.track-info-right {
    position: fixed;
    text-align: left;
    padding: 1em;
    margin-left: -1em;
    margin-top: 1em;
    left: calc(60%);
    color: white;
    font-weight: bold;
    font-feature-settings: normal;
    transition: .1s;
    background: #000000a8;
    text-shadow: 0px 1px 9px black;
}

.track-info {
    opacity: 0;
    font-size: 90%;
    pointer-events: none;
}

.track {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.artist {
    font-weight: normal;
    color: #ddd;
    font-size: 80%;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.always-show.track-info-left {
    transition: .15s;
    right: calc(60% + 1.5em);
    opacity: 1;
}

.always-show.track-info-right {
    transition: .15s;
    left: calc(60% + 1.5em);
    opacity: 1;
}
