.track-info-left {
    position: fixed;
    text-align: right;
    padding: 1em;
    margin: 1em;
    right: calc(60%);
    background: #000000bb;
    color: white;
    margin-right: -4em;
    font-weight: bold;
    font-feature-settings: normal;
    transition: .1s;
    font-size: 10vh;
}

.track-info {
    opacity: 0;
}

.artist {
    font-weight: normal;
    color: #ddd;
    font-size: 80%;
}

